@model IEnumerable<TestWork.Models.Advertisement>

<table class="table">
    <thead>
        <tr>
            <th>
              Заголовок
            </th>
            <th>
               Фото
            </th>
            <th>
              Организация
            </th>
            
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <img src="@("~/image/"+item.ImageName)" asp-append-version="true" width="100px" height="50px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id" asp-controller="Advertisement">Подробнее</a>

                </td>
              

            </tr>
        }
    </tbody>
</table>

